@import "../../styles/colors.scss";
@import "../../styles/components.scss";

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.bucket-creator--outer-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 300px;
}

.bucket-creator--card-container {
	position: absolute;
	height: 100px;
	width: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	color: white;
}

.true {
	transform: rotatey(180deg);
	height: 100%;
}

.bucket-creator--card-front {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	background: $darkGrey;
	border: 2px solid $brightCerulean;
	border-radius: 10px;
	color: $brightCerulean;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.bucket-creator--card-back--outer {
	position: absolute;
	background: linear-gradient(45deg, $deepSafron, $hayBale, $springGreen, $cyanSky, $violet, $wildStrawberry);
	background-size: 300% 300%;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	border-radius: 10px;
	cursor: pointer;
	-webkit-animation: rainbow 8s ease infinite;
	-z-animation: rainbow 8s ease infinite;
	-o-animation: rainbow 8s ease infinite;
	animation: rainbow 8s ease infinite;
}

.bucket-creator--card-back--inner {
	position: absolute;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	left: 5px;
	top: 5px;
	background: $darkGrey;
	border-radius: 5px;
}

.bucket-creator--input {
	width: 60px;
	margin: 10px;
}

.bucket-creator--amount-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
