.card-example {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.card-example--outer-container {
	height: 200px;
	width: 150px;
	border: 2px solid #ffaa32;
	border-radius: 6px;
}

.effect {
	height: 10px;
	width: 8%;
	background: #4e4e4e;
	margin: 2%;
	border: 1px solid #FF35A7;
}
