
$diamond: rgb(188, 250, 231);
$uclaBlue: #192e47;
$cyanSky: #2F97C1;
$brightCerulean: #1CCAD8;
$brightTurqoise: #15E6CD;
$springGreen: #0CF574;
$deepSafron: #FFAA32;
$hayBale: #f4d50c;
$darkGrey: #404040;
$grey: #7e7e7e;

$violet: #c250b1;
$wildStrawberry: #FF35A7;