@import "./colors.scss";
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap');

$btnFontSize: 1.1em;
$buttonHeight: 35px;
$buttonWidth: 80px;
$fontFamily: "Oswald", sans-serif;

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.btn--blue {
	background: linear-gradient(45deg, $deepSafron, rgb(255, 207, 50));
	border: 0;
	margin: 10px;
	border-radius: 4px;
	color: #404040;
	font-family: $fontFamily;
	font-weight: bold;
	font-size: $btnFontSize;
	height: $buttonHeight;
	outline: none;
	transition: 0.2s;
	width: $buttonWidth;

	&:hover {
		background: linear-gradient(45deg, $brightCerulean, $brightTurqoise);
	}
}
.btn--orange {
	background: linear-gradient(45deg, $brightCerulean, $brightTurqoise);
	border: 0;
	margin: 10px;
	border-radius: 4px;
	color: #404040;
	font-family: $fontFamily;
	font-weight: bold;
	font-size: $btnFontSize;
	height: $buttonHeight;
	outline: none;
	transition: 0.2s;
	width: $buttonWidth;

	&:hover {
		background: linear-gradient(45deg, $deepSafron, rgb(255, 207, 50));
	}
}

.btn--deposit {
	background: linear-gradient(45deg, $springGreen, $brightCerulean, $violet, $wildStrawberry, $deepSafron, $hayBale, $springGreen, $brightCerulean);
	background-size: 900% 900%;
	border: 0;
	margin: 10px;
	border-radius: 4px;
	color: #404040;
	font-family: $fontFamily;
	font-weight: bold;
	font-size: $btnFontSize;
	height: $buttonHeight;
	outline: none;
	width: $buttonWidth;
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;

		&:hover {
			background: linear-gradient(45deg, $diamond, $brightCerulean);
			background-size: 900%, 900%;
	}
}


.h1--blue--gradient-text {
	margin: 10px;
	font-size: 20px;
	background: linear-gradient(45deg, $brightCerulean 10%, $brightTurqoise 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.input--blue-outline {
	height: 20px;
	font-weight: bold;
	max-width: 250px;
	outline: none;
	border: 2px solid white;
	border-radius: 4px;
	color: $cyanSky;
	&:focus {
		border: 2px solid $cyanSky;
	}
}