@import "./colors.scss";
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap');

$btnFontSize: 1.1em;
$buttonHeight: 35px;
$buttonWidth: 80px;
$fontFamily: "Oswald", sans-serif;

.btn--blue {
	background: linear-gradient(45deg, $deepSafron, rgb(255, 207, 50));
	border: 0;
	margin: 10px;
	border-radius: 4px;
	color: #404040;
	font-family: $fontFamily;
	font-weight: bold;
	font-size: $btnFontSize;
	height: $buttonHeight;
	outline: none;
	transition: 0.2s;
	width: $buttonWidth;

	&:hover {
		background: linear-gradient(45deg, $brightCerulean, $brightTurqoise);
	}
}

.h1--blue--gradient-text {
	margin: 10px;
	font-size: 20px;
	background: linear-gradient(45deg, $brightCerulean 10%, $brightTurqoise 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.input--blue-outline {
	height: 20px;
	font-weight: bold;
	max-width: 250px;
	outline: none;
	border: 2px solid white;
	border-radius: 4px;
	color: $cyanSky;
	&:focus {
		border: 2px solid $cyanSky;
	}
}