@import "./colors.scss";
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap');

$btnFontSize: 13px;
$buttonHeight: 30px;
$buttonWidth: 70px;
$fontFamily: 'PT Serif Caption', serif;

.btn--blue {
	background: linear-gradient(45deg, $deepSafron, rgb(255, 207, 50));
	border: 0;
	margin: 10px;
	border-radius: 4px;
	box-shadow: 2px 3px 5px 1px #58729170;
	color: whitesmoke;
	font-family: $fontFamily;
	font-size: $btnFontSize;
	height: $buttonHeight;
	outline: none;
	transition: 0.2s;
	width: $buttonWidth;

	&:hover {
		background: linear-gradient(45deg, $brightCerulean, $brightTurqoise);
		box-shadow: 3px 4px 3px 1px #58729134;
		transform: translateY(-1px) scale(1.03);
	}
}

.h1--blue--gradient-text {
	margin: 10px;
	font-size: 20px;
	background: linear-gradient(45deg, $brightCerulean 10%, $brightTurqoise 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.input--orange-outline {
	height: 20px;
	font-weight: bold;
	max-width: 250px;
	outline: none;
	border: 2px solid white;
	border-radius: 4px;
	color: $cyanSky;
	&:focus {
		border: 2px solid $cyanSky;
	}
}