@import	 "../../styles/colors.scss";
@import	 "../../styles/components.scss";

.buckets--outer-container {
	display: flex;
	font-size: 10px;
	width: 800px;
	height: 100vh;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.buckets--inner-container {
	height: 300px;
	width: 200px;
	margin: 10px;
	background-color: $diamond;
	box-shadow: 6px 3px 16px 4px #192e4725;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
}

.buckets--goal-outer {
	width: 180px;
	height: 15px;
	background-color: whitesmoke;
	display: flex;
	border-radius: 2px;
	justify-content: space-between;
}

.buckets--goal-inner {
	height: 15px;
	background: linear-gradient(45deg, $deepSafron, $wildStrawberry);
	border-radius: 2px;
}

.buckets--amount {
	position: relative;
	bottom: 10px;
}