@import	 "../../styles/colors.scss";
@import	 "../../styles/components.scss";

.bucket-controller--container {
	height: 100%;
	width: 50%;
	margin: none;
	display: flex;
	// justify-content: center;
	align-items: center;
	border-radius: 0 0 20px 0;
}
.bucket-controller--input-wrapper {
	font-size: 10px;
	margin: 5px;
}

