$deepSafron: #FFAA32;

.account--outer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    color: $deepSafron;
    font-size: 14px;
}

.account--account-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $deepSafron;
    border: 2px solid whitesmoke;
    // margin-left: 20px;
    color: whitesmoke;
}
@media (max-width: 550px) {
    .shrink {
        display: none;
    }
    .account--account-image {
        display: none;
    }
}