@import	 "../../styles/colors.scss";
@import	 "../../styles/components.scss";

.home--outer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.home--content-container{
	height: 90%;
	width: 100%;
	display: flex;
	background: $wildStrawberry;
}

.home--account-info {
	height: 10%;
	width: 100%;
	background: linear-gradient(45deg, $deepSafron, $wildStrawberry);
}

.home--content {
	height: 100%;
	width: 97%;
	display: flex;
	border-radius: 0 0 80px 0;
	background: linear-gradient(45deg, $diamond, whitesmoke 90%);
}

.home--side-bar {
	height: 100%;
	width: 3%;
	border: 10px;
	background: linear-gradient(45deg, $wildStrawberry, $violet);

}