@import "../../../styles/colors";

.text {
	opacity: 0;
	position: absolute;
}
.login-form--outer-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form--body-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60%;
	width: 80%;
	border: 2px solid $deepSafron;
	margin-top: 10%;
	border-radius: 6px;
	max-width: 600px;
}

.login-form--input-container {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 30px;
	width: 80%;
	height: 70px;
	transition: 0.25s;
}

.login-form--input {
	width: 100%;
	height: 40px;
	border: 1px solid whitesmoke;
	border-radius: 6px;
	background: $darkGrey;
	outline: none;
	transition: 0.25s;
	font-size: 18px;
	color: whitesmoke;
}
.login-form--input-green:focus {
	border: 1px solid #0cf574;
	color: #0cf574;
}

.green:hover {
	color: #0cf574;
	.login-form--input-green {
		border: 1px solid #0cf574;
	}
}

.blue:hover {
	color: #1ccad8;
	.login-form--input-blue {
		border: 1px solid #1ccad8;
	}
}
.login-form--input-purple:focus {
	border: 1px solid #ca0cf4;
	color: #ca0cf4;
}

.purple:hover {
	color: #ca0cf4;
	.login-form--input-purple {
		border: 1px solid #ca0cf4;
	}
}
.login-form--input-yellow:focus {
	border: 1px solid #f4d50c;
	color: #f4d50c;
}

.yellow:hover {
	color: #f4d50c;
	.login-form--input-yellow {
		border: 1px solid #f4d50c;
	}
}

.login-form--input-blue:focus {
	border: 1px solid #1ccad8;
	color: #1ccad8;
}

.login-form--new-user {
	cursor: pointer;
	&:hover {
		color: #ff35a7;
		font-size: 12px;
	}
}
