$fontFamily: "Oswald", sans-serif;
$baseFontSize: 16px;
$largeHeaderFontSize: 30px;
$baseColor: whitesmoke;
$smallFontSize: 12px;
$extraSmallFontSize: 10px;

.login--outer-container {
  background: #404040;
  height: 100vh;
  width: 100vw;

  color: $baseColor;
  font-size: $extraSmallFontSize;
}