.Login--content-wrapper {
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
}

.login--sign-in {
	display: flex;
	flex-direction: column;
}
.login--sign-up {
	display: flex;
	flex-direction: column;
}

.login--button {
 height: 30px;
 width: 80px;
 background: linear-gradient(45deg, rgba(216, 0, 184, 0.733), rgba(255, 48, 169, 0.733), rgba(45, 143, 255, 0.795));
 border: none;
 border-radius: 4px;
 margin: 10px;
}

.login--input {
	height: 20px;
	width: 80%;
	border-radius: 4px;
	border: 1px solid rgba(216, 0, 184, 0.733);
}

.login--input:focus {
	outline: 1px solid rgba(255, 48, 169, 0.733);
}